*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }


body .cards{
   min-height: 100vh;  
   display: flex; 
   align-items: center;
/*    justify-content: center; */
   margin:auto;
   line-height:1.6;
  
}

.task{
/* text-decoration: none; */
  margin-left:45%;
  font-size:1.5rem;
  color:black;
  
}

.cards {
  max-width:860px; 
 border-radius:10px;
  overflow:hidden;
  }

.cars{
  padding:32px;
  display:flex;
  flex-direction: column;
  align-items:flex-start;
  gap: 24px;
  }

.cars h1{
  color:hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  }

.cars p{
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif; 
  font-size:15px;
  flex-grow: 1;
  }

button{
  margin-top:40px;
  padding:10px 20px;
  border-radius:30px;
  background-color:hsl(0, 0%, 95%);
  font-size:15px;
  border:none;
}

  outline:none{
  transition: all 0.4s ease-in-out;
  border:2px solid hsl(0, 0%, 95%);
  font-family: 'Lexend Deca', sans-serif; 
  font-weight:400;
  cursor:pointer;
}
     
.cars button:hover{
  background-color: transparent;
  color:hsl(0, 0%, 95%);
  }


.sedans{
  background-color:hsl(31, 77%, 52%);
 }

.suv{
  background-color:hsl(184, 100%, 22%);
   }

.luxury{
   background-color:hsl(179, 100%, 13%);
  }


 .sedans button{ 
  color:hsl(31, 77%, 52%);
 }

.suv button{
  color:hsl(184, 100%, 22%);
}

 .luxury button{
  color:hsl(179, 100%, 13%);
}

@media screen and (max-width: 700px){
  body{
   padding-top: 50px;
   padding-bottom: 50px;
   padding-left: 20px;
   padding-right: 20px;
  }
}
    
.cards{
    flex-direction: column;
  }

  .grid{
    display:block;
  }


                

    
